@import '../../../styles/variables.scss';

.sliders__heading {
    text-transform: uppercase;
    font-size: 26px;
}
.slider-list {
    &:hover .slick-arrow.slick-next {
        display: block !important;
    }
    &:hover .slick-arrow.slick-prev {
        display: block !important;
    }
}
.slider-item {
    cursor: pointer;
    box-shadow: 0 1px 5px #ccc;
}

.slider-voucher__item {
    padding: 1px 0;
    cursor: pointer;
}

.slider-voucher__item img {
    border-radius: 8px;
    box-shadow: 0 1px 5px #ccc;
}

.slick-arrow.slick-next {
    width: 60px;
    height: 60px;
    background-color: #cfcfcc;
    right: 20px;
    border-radius: 50%;
    animation: fadeInRight 0.5s linear;
    display: none !important;
}
.slick-arrow.slick-prev {
    width: 60px;
    height: 60px;
    background-color: #cfcfcc;
    left: 20px;
    border-radius: 50%;
    z-index: 1;
    animation: fadeInLeft 0.5s linear;
    display: none !important;
}
.slick-prev:before,
.slick-next:before {
    font-size: 32px;
    color: #f9f9f9;
}

@keyframes fadeInRight {
    from {
        transform: translate(20px, -50%);
    }
    to {
        transform: translate(0px, -50%);
    }
}
@keyframes fadeInLeft {
    from {
        transform: translate(-20px, -50%);
    }
    to {
        transform: translate(0px, -50%);
    }
}

// // Responsive

@media (min-width: 320px) and (max-width: 599px) {
    .sliders-voucher__wrapper {
        display: none;
    }
    .sliders__heading {
        font-size: 18px;
    }
}

@media (max-width: 899px) {
    .sliders__heading {
        padding-left: 10px;
    }
    .slider-list {
        &:hover .slick-arrow.slick-next {
            display: none !important;
        }
        &:hover .slick-arrow.slick-prev {
            display: none !important;
        }
    }
}
