@import '../../../styles/variables.scss';
.loading {
    height: 4px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $color-yellow;
    animation: fadeInLeft 5s linear;
}

@keyframes fadeInLeft {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
